### Trabalhando com Dicionários

Lista

In [46]:
# Isso é uma lista. Procurar dados que correspondam à idade, por exemplo, é problematicco
estudantes_lst = ["Pedro", 24, "Ana", 22, "Ronaldo", 26, "Janaina", 25]

In [47]:
estudantes_lst

['Pedro', 24, 'Ana', 22, 'Ronaldo', 26, 'Janaina', 25]

In [48]:
type(estudantes_lst)

list

Dicionário

In [86]:
# Isso é um dicionário
estudantes_dict = {"Pedro":24, "Ana":22, "Ronaldo":26, "Janaina":25}

In [50]:
type(estudantes_dict)

dict

In [51]:
#usando built-in items()

In [52]:
estudantes_dict2 = {"Pedro":{
                        "email":"pedro@email.com",
                        "telefone":'99999-4545',
                        'idade':20 },
                     "Maria":{
                         'email':"maria@gmail.com",
                         'telefone':'9999-3232',
                         'idade':21}                         
                    }
print(estudantes_dict2)

{'Pedro': {'email': 'pedro@email.com', 'telefone': '99999-4545', 'idade': 20}, 'Maria': {'email': 'maria@gmail.com', 'telefone': '9999-3232', 'idade': 21}}

In [53]:
compra = {"id_101":{
            'quantidade':1,
            'produto':'Tênis Hocks Puff - Petitpoa UV(310.002.PET43) Tamanho: 43',
            'preco':380.99,
            'embalagem':'-',
            'subtotal':389.99
            }
            }

print(compra)

{'id_101': {'quantidade': 1, 'produto': 'Tênis Hocks Puff - Petitpoa UV(310.002.PET43) Tamanho: 43', 'preco': 380.99, 'embalagem': '-', 'subtotal': 389.99}}

In [54]:
type(compra)

dict

Acessando valor

In [55]:
#acessando telefone de Pedro
telefone_pedro = estudantes_dict2['Pedro']['telefone']
print(f'O telefone do Pedro é: {telefone_pedro}')

O telefone do Pedro é: 99999-4545

In [56]:
#acessando qual o produto do id_101 de compra
produto = compra['id_101']['produto']
print(f"Produto id 101: {produto}")

Produto id 101: Tênis Hocks Puff - Petitpoa UV(310.002.PET43) Tamanho: 43

In [87]:
estudantes_dict={
    "Alice":20,
    "Bruno":22,
    "Carla":21,
    "Daniel":30
}

In [58]:
type(estudantes_dict)

dict

In [59]:
inventario = {'macã':9.99,'banana':2.50,'laranja':3.30}
valorB =  inventario['banana']

In [60]:
print(f'O preço da banana é:{valorB:.2f}')

O preço da banana é:2.50

Adicionar mais elementos

In [88]:
estudantes_dict["Marcelo"] = 23

In [89]:
estudantes_dict["Marcelo"]

23

In [63]:
#exibir dicionario estudantes_dict após incluir Marcelo
print(estudantes_dict)

{'Alice': 20, 'Bruno': 22, 'Carla': 21, 'Daniel': 30, 'Marcelo': 23}

Adicionar mais um item no dicionário compra

In [64]:
compra['id_102'] = {
    'quantidade':2,
    'produto':'camiseta',
    'preco':98.90,
    'embalagem':'-',
    'subtotal':98.90
}

In [65]:
print(compra)

{'id_101': {'quantidade': 1, 'produto': 'Tênis Hocks Puff - Petitpoa UV(310.002.PET43) Tamanho: 43', 'preco': 380.99, 'embalagem': '-', 'subtotal': 389.99}, 'id_102': {'quantidade': 2, 'produto': 'camiseta', 'preco': 98.9, 'embalagem': '-', 'subtotal': 98.9}}

In [66]:
produto_id_102 = compra['id_102']['produto']
print(produto_id_102)

camiseta

In [67]:
preco_id_101 = compra["id_101"]['preco']
preco_id_101

380.99

In [68]:
embalagem_compra = compra['id_101']['embalagem']
print(embalagem_compra)

-

In [69]:
#usando laço for para iterar todos os elementos do dicionário

for id_compra,dados_compra in compra.items():
    preco = dados_compra['preco']
    quantidade = dados_compra['quantidade']

    print(f'id_compra: {id_compra}')
    print(f'Preco: {dados_compra["preco"]}')
    print(f'Quantidade: {dados_compra["quantidade"]}')
    print(f'-'*20)

id_compra: id_101
Preco: 380.99
Quantidade: 1
--------------------
id_compra: id_102
Preco: 98.9
Quantidade: 2
--------------------

Substituição de um valor de uma chave

In [70]:
compra['id_102']['preco'] = 102.90
print(compra)

{'id_101': {'quantidade': 1, 'produto': 'Tênis Hocks Puff - Petitpoa UV(310.002.PET43) Tamanho: 43', 'preco': 380.99, 'embalagem': '-', 'subtotal': 389.99}, 'id_102': {'quantidade': 2, 'produto': 'camiseta', 'preco': 102.9, 'embalagem': '-', 'subtotal': 98.9}}

In [71]:
compra['id_101']['embalagem'] = 'papelão'
print(compra)

{'id_101': {'quantidade': 1, 'produto': 'Tênis Hocks Puff - Petitpoa UV(310.002.PET43) Tamanho: 43', 'preco': 380.99, 'embalagem': 'papelão', 'subtotal': 389.99}, 'id_102': {'quantidade': 2, 'produto': 'camiseta', 'preco': 102.9, 'embalagem': '-', 'subtotal': 98.9}}

```values()```Mostrar todos os valores

In [81]:
compra.values()

dict_values([{'quantidade': 1, 'produto': 'Tênis Hocks Puff - Petitpoa UV(310.002.PET43) Tamanho: 43', 'preco': 380.99, 'embalagem': 'papelão', 'subtotal': 389.99}, {'quantidade': 2, 'produto': 'camiseta', 'preco': 102.9, 'embalagem': '-', 'subtotal': 98.9}])

In [84]:
compra101 = compra['id_101']
chaves101 = compra101.keys()
print(compra101)
print(chaves101)

{'quantidade': 1, 'produto': 'Tênis Hocks Puff - Petitpoa UV(310.002.PET43) Tamanho: 43', 'preco': 380.99, 'embalagem': 'papelão', 'subtotal': 389.99}
dict_keys(['quantidade', 'produto', 'preco', 'embalagem', 'subtotal'])

```keys()```Mostrar chaves

In [82]:
compra.keys()

dict_keys(['id_101', 'id_102'])

In [90]:
estudantes_dict

{'Alice': 20, 'Bruno': 22, 'Carla': 21, 'Daniel': 30, 'Marcelo': 23}

In [75]:
estudantes_dict['Araújo']=32

In [91]:
estudantes_dict

{'Alice': 20, 'Bruno': 22, 'Carla': 21, 'Daniel': 30, 'Marcelo': 23}

````clear()```` - limpar conteúdo do dicionario

In [92]:
estudantes_dict.clear()

In [93]:
estudantes_dict

{}

```del``` Dropa o dicionario

In [94]:
del estudantes_dict

In [95]:
estudantes_dict

NameError: name 'estudantes_dict' is not defined

In [96]:
estudantes = {"Pedro":24, "Ana":22, "Ronaldo":26, "Janaina":25}

In [97]:
estudantes

{'Pedro': 24, 'Ana': 22, 'Ronaldo': 26, 'Janaina': 25}

Busca de chave

In [98]:
busca_nome = input("Digite a chave que você busca: ")

if busca_nome in estudantes:
    print(f"Tem {busca_nome}")
else:
    print(f"não tem {busca_nome}")

Tem Pedro

In [99]:
deletar_chave = input("Digite a chave que deseja deletar: ")

del estudantes[deletar_chave]
print(estudantes)

{'Ana': 22, 'Ronaldo': 26, 'Janaina': 25}

```len()``` - Retorna o tamanho. Nome do dicionario

In [ ]:
len(estudantes)

```keys()``` - Retorna as chaves. Nome do dicionário.

In [ ]:
estudantes.keys()

```values()``` - Retorna os valores. Nome do dicionário.

In [ ]:
estudantes.values()

```items()``` - Retorna chave e valor.

In [ ]:
estudantes.items()

```update()``` Insere elementos de uma lista em outra.

In [100]:
estudantes2 = {"Camila":27, "Adriana":28, "Roberta":26}

In [101]:
estudantes2

{'Camila': 27, 'Adriana': 28, 'Roberta': 26}

In [102]:
estudantes.update(estudantes2)

In [103]:
estudantes

{'Ana': 22,
 'Ronaldo': 26,
 'Janaina': 25,
 'Camila': 27,
 'Adriana': 28,
 'Roberta': 26}

In [104]:
dict = {}

In [105]:
dict["key1"] = "Data Science"

In [106]:
dict["key2"] = 10

In [107]:
dict["key3"] = 100

In [108]:
dict

{'key1': 'Data Science', 'key2': 10, 'key3': 100}

In [109]:
a = dict["key1"]

In [110]:
b = dict["key2"]

In [111]:
c = dict["key3"]

In [112]:
a, b, c

('Data Science', 10, 100)

In [113]:
# Dicionário de listas
dict2 = {'chave1':1230, 'chave2':[22,453,73.4], 'chave3':['picanha', 'fraldinha', 'alcatra']}

In [114]:
dict2

{'chave1': 1230,
 'chave2': [22, 453, 73.4],
 'chave3': ['picanha', 'fraldinha', 'alcatra']}

In [115]:
dict2['chave2']

[22, 453, 73.4]